{% extends "base.html" %}

{% block content %}
    
    <div class="container" id="c3">
		<div class="jumbotron" id="j3">

			<div><i style="margin-left:330px; font-size:50px;"><i class="fa fa-bullhorn" aria-hidden="true"></i> Air Quality Monitor</i></div>

		</div>

	</div>

	<div class="container" id="c4">
		<div id="j4" class="jumbotron"> <i style="font-size:30px;"><i class="fa fa-pencil" aria-hidden="true"></i> PROJECT DESCRIPTION:</i> 

			<div style="font-family: 'Open Sans Condensed', sans-serif; font-size:20px;">The AQM is a system which determine the pollution level in differnt areas according to the AQI range. Range 0 to 50 is good, 51 to 100 is moderate, 101 to 150 is unhealthy for sensitive groups, 151 to 200 is unhealthy for all groups, 201 to 300 is very unhealthy and 300 plus is hazardous. The main purpose of this system is to collect data of polluted areas so that researcher can easily take measurements to make the areas polluted free. </div>

			<div><i style="font-size:30px;"><i class="fa fa-pencil" aria-hidden="true"></i> Team Description:</div>
			<li class="li">Abdul Hadi-->Has done the back end programming.</li>
			<li class="li">Muhammad Hamza Fayyaz-->Has done the connection with firebase.</li>
			<li class="li">Mashhod Ijaz-->Has done the back end programming and filling of database.</li>
			<li class="li">M Hamza Zahid-->Has done the front end programming.</li>
		</div>

{% endblock %}