<form id="form" method = "POST">
		<div class="form-row">
			 <div class="form-group col-md-2">
			 <label for="fromdate">From</label>
			<input  type="date" id="fromdate" name="fromdate" class="form-control" value = "{{st}}">

		</div>
		 <div class="form-group col-md-2">
			 <label for="todate">To</label>
			<input type="date" id="todate" name="todate" class="form-control" value = "{{end}}">
		</div>

		<div class = "form-group col-md-2">
			<input type="submit" id=sum name=set value ="Set">

		</div>
	</form>