{% extends "base.html" %}

{% block content %}

	<div class="container" id="c1">
		<div class="jumbotron" id="j1">

			<h2 id="h1"> <i>AIR QUALITY MONITOR</i></h2>
			
			
		</div>
		
	</div>

	<div class="row img_row_1">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div style="margin-bottom: 0px;" class="thumbnail"><img style="height: 238px;"  class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPDHpshmhxuSGauveL9t1BvtEQ1Lj4WIaQ2QSGk4qjqjfV2bPh">
				</div>
			<div  class=" thumbnail frontpagepictext">

						<h5>Air Pollution Is Cutting Children's Life </h5>
						<p>Toxic air will shorten the life expectancy of children by 20 months a major new study has revealed. Severe air pollution is rife across the globe with concentrated areas in South Asia.</p>
					    <a class="btn btn-info" href="#" role="button">Read MORE</a>
			</div>
					
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div style="margin-bottom: 0px;" class="thumbnail"><img style="height: 198px;" class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS_rXGHuhYpg4lw42PAiW6fn6zQF9nPmwxKGmLgVLs8EIbXYPECA">
				</div>
			<div class=" thumbnail frontpagepictext">

						<h5>Industrial Pollution</h5>
						<p>When drilling rigs retrieve oil and gases from deep within the Earth, they bring up a host of flammable gases and chemicals that affect life on the surface. Although the list of air polluters is long, the oil, gas and automotive industries and electricity generation are major players.</p>
					    <a class="btn btn-info" href="#" role="button">Read MORE</a>
			</div>
					
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div style="margin-bottom: 0px;" class="thumbnail"><img style="height: 238px;"  class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfVMDO6aAkgiSODh0ulTzc5m7zeXEH-jeItpjbikNXTWPtxNHb">
				</div>
			<div class=" thumbnail frontpagepictext">

						<h5>Burning Material</h5>
						<p>Plastic waste constitutes between 60% and 80% of marine debris and is “one of the world’s most pervasive pollution problems impacting our oceans and waterways,” </p>
					    <a class="btn btn-info" href="#" role="button">Read MORE</a>
			</div>
					
			</div>
	
			</div>
{% endblock %}